#persons {
    float: left;
    width: 18%;
    margin: 65px 0px 30px 20px;
}

#persons a {
    text-decoration: none;
}

#presdentialpolls {
    float: right;
    width: 80%;
    /* height: 90vh; */
}

#presdentialpolls h2 {
    text-align: center;
}

#presdentialpolls svg {
    background-color: #cecdc2;
}

#container {
    width: 100%;
    overflow: hidden;
}
